<div class="w-full h-screen flex flex-col">
  <div class="w-full flex-1">
    <img src="/assets/textures/texture-circle-gradient.png" class="w-full h-full object-contain object-center" alt="circle-gradient"/>
  </div>
  <div class="flex-1 p-10 flex flex-col justify-between">
    <div class="flex flex-col gap-10">
      <div>
        <p class="text-2xl text-neutral-900">Nunca fue tan fácil <b>dar</b> y <b>buscar</b> ofertas de <b>trabajo</b> con:</p>
      </div>
      <div>
        <img src="/assets/logos/logo-job-trading.svg" alt="JOB-TRADING" class="h-16">
      </div>
    </div>

    <div class="flex items-center gap-2 rounded-2xl bg-neutral-100">
      <button routerLink="/login" class="b-primary flex-1">Iniciar sesión</button>
      <button routerLink="/register" class="b-subtle flex-1">Crear cuenta</button>
    </div>
  </div>
</div>
