<div class="w-full h-screen flex flex-col p-10 gap-10">
  <div class="flex items-center justify-between">
    <div>
      <button class="b-subtle" routerLink="/query-work">
        <arrow-left-solid-icon [size]="32"></arrow-left-solid-icon>
      </button>
    </div>
    <div>
      <img src="assets/logos/logo-job-trading.svg" alt="JOB-TRADING" class="h-10">
    </div>
  </div>
  <div class="flex-1 flex flex-col justify-between">
    <div class="flex flex-col gap-5">
      <span class="text-4xl font-questrial text-neutral-400">Detalle</span>
    </div>
    <div class="flex flex-col gap-10 overflow-y-auto" style="height: calc(100vh - 400px)">

      <div class="gap-5 grid grid-cols-2">
        <div class="flex items-center gap-2 col-span-2">
          <span class="text-3xl font-questrial text-neutral-900 font-bold">Pintar cuarto de 20x20</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-3xl font-questrial text-neutral-900 font-bold">S/. 300</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-3xl font-questrial text-neutral-900 font-bold">3 días</span>
        </div>
        <div class="col-span-2 flex items-center gap-2">
          <span class="text-2xl font-questrial text-neutral-900">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores earum illo incidunt inventore maiores odio optio porro quidem quod recusandae sapiente sed vitae! Error illum magni natus quia voluptatibus?
          </span>
        </div>
        <div class="w-full flex flex-col gap-1 col-span-2">
          <span>Imágenes de referencia</span>
          <div class="rounded-lg w-full overflow-hidden h-40">
            <img class="w-full h-full" src="https://images.unsplash.com/photo-1513694203232-719a280e022f?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          </div>
        </div>
      </div>

    </div>
    <div class="flex items-center gap-2 mt-6 rounded-2xl bg-neutral-100">
      <button routerLink="/query-work" class="b-subtle flex-1">Volver</button>
      <button routerLink="/request-sent" class="b-primary flex-1">Aceptar</button>
    </div>
  </div>
</div>
